@media screen and (max-width: 1410px) {
  .sticky-note {
    right: 50%;
  }
}

@media screen and (max-width: 1212px) {
  .sticky-note {
    right: 58%;
  }
}

@media screen and (max-width: 1039px) {
  .sticky-note {
    right: 65%;
    top: 450px;
  }
}

@media screen and (max-width: 898px) {
  .sticky-note {
    right: 68%;
    top: 450px;
  }
  .paper-container .paper-title h1,
  .paper-container .paper-title h2 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 865px) {
  .paper-container {
    width: 50%;
    height: 67%;
  }

  .sticky-note .row {
    font-size: 1rem;
  }
  .sticky-note {
    right: 65%;
    top: 450px;
    height: 185px;
    width: 185px;
  }
  .item-box {
    font-size: 1.2rem;
    margin-left: -45px;
  }
}

@media screen and (max-width: 550px) {
  .main-bg {
    padding-top: 10%;
  }
  .paper-container {
    margin: auto;
    width: 80%;
    height: 67%;
  }
  .paper-container .paper-title h1,
  .paper-container .paper-title h2 {
    font-size: 0.8rem;
  }
  .sticky-note {
    left: 10%;
    top: 60%;
    height: 150px;
    width: 150px;
  }
  .item-box {
    margin-left: -45px;
  }
  .sticky-note .row {
    font-size: 0.9rem;
  }
  .sticky-note .row .col-8 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 550px) {
  .paper-container .paper-title h1,
  .paper-container .paper-title h2 {
    font-size: 0.7rem;
  }
  .item-box {
    font-size: 1.2rem;
  }
  .sticky-note {
    left: 10;
    top: 60%;
  }
}
@media screen and (max-height: 900px) {
  .paper-container {
    height: 75%;
  }
  .sticky-note {
    left: 10%;
    top: 73%;
    height: 200px;
    width: 200px;
  }
  .sticky-note .row {
    font-size: 1rem;
  }
}
@media screen and (max-height: 800px) {
  .paper-container {
    height: 85%;
  }
  .sticky-note {
    left: 10%;
    top: 78%;
  }
}
@media screen and (max-height: 700px) {
  .paper-container {
    height: 90%;
  }
  .sticky-note {
    left: 10%;
    top: 78%;
  }
}
@media screen and (max-height: 600px) {
  .paper-container {
    height: 97%;
  }
  .sticky-note {
    left: 10%;
    top: 71%;
  }
}
